*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items: center;
  font-family: helvetica, sans-serif;
}
.container {
	width: 400px;
  padding: 8px;
}
.infoText {
	width:100%;
	text-align: center;
	border: 1px solid #ccc;
  border-radius: 4px;
  margin: 4px 0;
}
.formWrapper {
	border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
.formWrapper h1,h2,h3 {
  text-align:center;
  padding:7px 14px;
}
input[type="tel"] {
  padding: 6px;
  outline: none;
  border: 1px solid #333333;
  border-radius: 4px 0 0 4px;
  width: 100%;
  height: 30px;
}
.inputWrapper {
  display:flex;
  justify-content: center;
  padding-bottom: 8px;
}
.inputBlock {
  width: 100%;
  position:relative;
}
.inputBlock label {
  position: absolute;
  top: -8px;
  left: 8px;
  color: #818181;
  background: #fff;
  font-size: 12px;
  pointer-events: none;
}
.inputWrapper .dropdown_menu {
	display:flex;
  cursor: pointer;
}
.inputWrapper .dropdown_items {
  display:flex;
  justify-content: space-around;
  position: relative;
}
.dropdown_items.active > ul {
  display:block;
}
svg.arrow {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  width: 8px;
  height: 8px;
  transform: rotate(90deg);
}
.dropdown_items.active svg.arrow {
  transform: rotate(-90deg);
}
.dropdown_items ul {
  border-radius: 4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  border: 1px solid #333333;
  top: 30px;
  left: 0;
  display: none;
  z-index: 9999;
}
.dropdown_items ul li {
  border-bottom: 1px solid #333333;
}
.dropdown_items li a {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #000;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
}
.dropdown_items li a:hover {
  background-color: #ccc;
}
.flag-mini {
  width: 32px !important;
  height: 22px !important;
}
span.flag {
  border: 1px solid #333333;
  border-radius: 4px;
}
.hidden {
  display:none;
}
.res {
  font-size: 12px;
  margin-left: 14px;
}
/* BUTTONS */
.btn.btn-next{
  text-decoration: none;
  border: 1px solid #333333;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  background: tomato;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 4px 8px;
  cursor:pointer;
  height: 30px;
}
/* BUTTONS END */